<<<<<<< HEAD
#app[data-v-2311c06a]{
    color: red;
=======
#app{
    padding: 20px;
>>>>>>> ca54034a51a71d7c7e23e71e1bf89cb48900447e
}
button {
    width: 50px;
}

.box{
    width: 100px;
    height: 50px;
    background: #fff;
    outline: 10px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 0 5px #000;
}